
div {
  width: 50vw;
  margin: 1vh auto;
  .main {
    h1 {
      font-family: Roboto, sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      color: #4a5c60;
    }
    > div {
      display: inline-flex;
      img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 100%;
      }
      > div {
        padding-left: 1vw;
        > span {
          display: block;
          font-size: 2vh;
          padding: 0.5vh 0;
        }
      }
    }
    margin-top: 15vh;
    .form {
      display: inline;
      width: 34vw;
      mat-form-field {
        margin: 0 0 0 0.5vh;
      }
    }
  }
  button {
    float: right;
    background-color: #f68c1f;
    color: #fff;
    font-size: 2.5vh;
    width: 8vw;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      color: #fff;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.w-22 {
  width: 22%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50.5%;
  float: right;
}

.w-100 {
  width: 100%;
}
