.btn-add {
  text-align: center;
  margin: 0 auto;
}
table {
  margin: 1vw;
  min-width: 90%;
  td {
    > img {
      max-width: 12vh;
      padding: 1vh 0;
    }
  }
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}