<mat-tab-group mat-align-tabs="start" class="mat-tabs">
  <mat-tab label="PRÓXIMOS">
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly left" *ngIf="showsNext.length">
      <mat-card class="example-card" *ngFor="let show of showsNext; let i = index">
        <mat-card-header>
          <img mat-card-image [src]="show.photo != null ? show.photo : noImage" [alt]="show.description" [matTooltip]="show.description">
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>{{show.name}}</li>
            <li>{{show.address}}</li>
            <li>{{show.dateShow | date: 'dd/MM/yyyy HH:mm'}}</li>
            <li>{{show.price | currency: 'BRL'}}</li>
            <li style="margin-left: -10%;">
              <button style="height: 40px; width: 20px;" (click)="addItem(i, false)" mat-button>
                <mat-icon>remove</mat-icon>
              </button>
              <input matInput min="1" max="5" readonly type="number" [(ngModel)]="show.quantityBuy"
                style="padding: 0.5vh 0vh; border: none; text-align: center; margin: 1vh auto; width: 80px; margin-left: 3vw;">
              <button style="height: 40px; width: 20px;" (click)="addItem(i, true)" mat-button>
                <mat-icon>add</mat-icon>
              </button>
            </li>
          </ul>

        </mat-card-content>
        <mat-card-actions>
          <button (click)="buyShow(show)" mat-button>COMPRAR</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="REALIZADOS">
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly left" *ngIf="showsPrevious.length">
      <mat-card class="example-card" *ngFor="let show of showsPrevious">
        <mat-card-header>
          <img mat-card-image [src]="show.photo != null ? show.photo : noImage" [alt]="show.description" [matTooltip]="show.description">
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>{{show.name}}</li>
            <li>{{show.address}}</li>
            <li>{{show.dateShow | date: 'dd/MM/yyyy HH:mm'}}</li>
            <li>{{show.price | currency: 'BRL'}}</li>
          </ul>

        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
