* {
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  color: #4a5c60;
}

div {
  margin-top: 15vh;
}

.thank-you {
}

button {
  background-color: #f68c1f;
  color: #fff;
  font-size: 2.5vh;
  width: 25vw;

  &:hover {
    opacity: 0.8;
  }
}
