*{
  text-transform: uppercase;
  font-family: Roboto,sans-serif;
}

#header {
  background-color: #f68c1f;
  color: #fff;
  align-items: center;
  text-align: center;
  div {
    display: flex;
    max-width: 20vw;
    margin: 0 auto;
    padding: 2vh 1vh 1vh;
    #title {
      font-size: 4vh;
      font-family: Arial, sans-serif;
      text-transform: uppercase;
    }
    
    #logo {
      width: 25px;
      height: 25px;
    }
  }  
}
