<button mat-menu-item (click)="createUser()" class="btn-add">
  ADICIONAR USUÁRIO<mat-icon>add</mat-icon>
</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>NOME</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-MAIL</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>EDITAR</th>
        <td mat-cell *matCellDef="let element" matTooltip="EDITAR">
            <button mat-menu-item (click)="alterUser(element.id)">
              <mat-icon>edit</mat-icon>
            </button>
        </td>
      </ng-container>  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>DELETAR</th>
        <td mat-cell *matCellDef="let element" matTooltip="DELETAR">
            <button mat-menu-item (click)="deleteByIdUser(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
        </td>
      </ng-container>  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
